/* Fonts: */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&family=IBM+Plex+Mono:wght@400;500;600;700&display=swap');

:root {
  --comfortaa: 'Comfortaa', cursive;
  --ibm-mono: 'IBM Plex Mono', monospace;
  --dark-color: #494949;
  --primary-color: #FFFDF6;
  --secondary-color: #F2F0F0;
}

::before, 
::after, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ibm-mono);
  background-color: var(--primary-color);
}

.wrapper {
  width: 1200px;
  height: 100vh;
  margin: auto;
  padding: 20px 80px;
  /* background-color: grey; */
}

nav {
  width: 100%;
  height: auto;
  padding: 0;
  /* background-color: coral; */
}

nav .nav-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

nav .nav-content img {
  object-position: center;
  object-fit: cover;
  width: auto;
  height: auto;
}

nav .nav-content h2 {
  font-family: var(--comfortaa);
  font-weight: 700;
  font-size: 22px;
}

main {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: aquamarine; */
  position: relative;
}

main #hero-text {
  display: flex;
  justify-content: center;
  text-align: center;
  /* background-color: lightcyan; */
}

main #hero-text h1 {
  font-size: 40px;
  font-family: var(--ibm-mono);
  font-weight: 500;
  margin-bottom: 20px;
}

main #hero-text p {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.603);
  font-family: var(--ibm-mono);
  font-weight: 400;
  margin-bottom: 40px;
}

main #hero-text .button-cta {
  width: 300px;
  height: 60px;
  background-color: var(--dark-color);
  padding: 16px 40px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-family: var(--ibm-mono);
  font-size: 22px;
  border-radius: 4px;
  box-shadow: 10px 10px 0px 0px black;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

main #hero-text .button-cta:hover {
  background-color: #7e7e7e;
  transform: scale(1.1) perspective(1px);
}

main #hero-image {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 150%;
  left: 52%;
  transform: translate(-50%, -50%);
}

main #hero-image .img-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main #hero-image .img-content img {
  /* background-color: teal; */
  width: 900px;
  object-fit: cover;
  object-position: center;
}





.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.mb-40 {
  margin-bottom: 40px;
}