/* Fonts: */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&family=IBM+Plex+Mono:wght@400;500;600;700&display=swap');

:root {
  --comfortaa: 'Comfortaa', cursive;
  --ibm-mono: 'IBM Plex Mono', monospace;
  --dark-color: #494949;
  --primary-color: #FFFDF6;
  --secondary-color: #F2F0F0;
}

::before, 
::after, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ibm-mono);
  background-color: var(--primary-color);
}

.wrapper {
  width: 1200px;
  height: 100vh;
  margin: auto;
  padding: 20px 80px;
  /* background-color: grey; */
}

nav {
  width: 100%;
  height: auto;
  padding: 0;
  /* background-color: coral; */
}

nav .nav-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

nav .nav-content img {
  object-position: center;
  object-fit: cover;
  width: auto;
  height: auto;
}

nav .nav-content h2 {
  font-family: var(--comfortaa);
  font-weight: 700;
  font-size: 22px;
}

main {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: aquamarine; */
  position: relative;
}

main #hero-text {
  display: flex;
  justify-content: center;
  text-align: center;
  /* background-color: lightcyan; */
}

main #hero-text h1 {
  font-size: 40px;
  font-family: var(--ibm-mono);
  font-weight: 500;
  margin-bottom: 20px;
}

main #hero-text p {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.603);
  font-family: var(--ibm-mono);
  font-weight: 400;
  margin-bottom: 40px;
}

main #hero-text .button-cta {
  width: 300px;
  height: 60px;
  background-color: var(--dark-color);
  padding: 16px 40px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-family: var(--ibm-mono);
  font-size: 22px;
  border-radius: 4px;
  box-shadow: 10px 10px 0px 0px black;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

main #hero-text .button-cta:hover {
  background-color: #7e7e7e;
  transform: scale(1.1) perspective(1px);
}

main #hero-image {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 150%;
  left: 52%;
  transform: translate(-50%, -50%);
}

main #hero-image .img-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main #hero-image .img-content img {
  /* background-color: teal; */
  width: 900px;
  object-fit: cover;
  object-position: center;
}

footer {
  width: 100%;
  height: 80px;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -50%;
  left: 0;
  /* transform: translate(-50%, -50%); */
}

footer .mylink {
  font-weight: 600;
  color: var(--dark-color);
}

footer .mylink:hover {
  opacity: 0.8;
}



/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* App Page */
#application {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  /* background-color: aquamarine; */
}

#application #insert-section {
  width: 83.33%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

#application #insert-section .card-insert {
  width: 100%;
  height: 360px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 12px;
  overflow: hidden;
}

#application #insert-section .card-insert .card-head {
  height: 138px;
  width: 100%;
  background-color: grey;
  border-bottom: 1px solid #000;
}

#application #insert-section .card-insert .card-head img {
  width: 125%;
  height: 100%;
  object-fit: cover;
  object-position: -5px -100px;
}

#application #insert-section .card-insert .card-body {
  width: 100%;
  height: auto;
  padding: 28px 0;
}

#application #insert-section .card-insert .card-body h2 {
  font-family: var(--ibm-mono);
  font-weight: 600;
  font-size: 24px;
  color: #000;
}

#application #insert-section .card-insert .card-body .button-insert {
  width: 340px;
  height: 80px;
  margin-top: 28px;
  font-family: var(--ibm-mono);
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  background-color: var(--dark-color);
  border: none;
  border-radius: 8px;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 1);
  transition: all 0.3s ease-in-out;
}

#application #insert-section .card-insert .card-body .button-insert:hover {
  cursor: pointer;
  background-color: #7e7e7e;
  transform: scale(1.1) perspective(1px);
}






/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 16px 16px;
  background-color: transparent;
  color: white;
}

.modal-header .modal-header-text {
  font-family: var(--comfortaa) !important;
  font-size: 20px !important;
}


.modal-body {padding: 20px 40px 40px 40px;}

.modal-body .form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-family: var(--comfortaa);
  /* background-color: red; */
}

.modal-body .form-container .form-wrap {
  width: 100%;
  margin: 0 0 26px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
  /* background-color: cyan; */
}

.modal-body .form-container .form-wrap label {
  font-size: 14px;
  font-weight: 600;
}

.modal-body .form-container .form-wrap .form-control {
  width: 100%;
  height: 42px;
  padding: 1rem;
  border: 1px solid rgba(175, 175, 175, 0.1);
  background-color: var(--secondary-color);
}

.modal-body .form-container .form-check {
  display: flex;
  flex-direction: row;
  justify-content: start;
} 

.modal-body .form-container .button-submit {
  width: 100%;
  height: 100%;
  padding: 16px 0;
  border: none;
  background-color: #366efc;
  font-size: 14px;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.modal-body .form-container .button-submit:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #5E8BFF;
}

/* search section */
#application #search-section {
  width: 83.33%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

#application .card-search {
  width: 100%;
  height: 200px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

#application .card-search .search-label {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  /* background-color: #7e7e7e; */
}

#application .card-search .search-label h4 {
  font-family: var(--ibm-mono);
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

#application .card-search .searchbox {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  /* background-color: cyan; */
} 

#application .card-search .searchbox .search-input {
  width: 80%;
  height: 60px;
  padding: 20px;
  font-size: 14px;
  background-color: var(--secondary-color);
  border: none;
}

#application .card-search .searchbox .search-input:focus {
  outline: 1px solid rgba(0, 0, 0, 0.6);
}

#application .card-search .searchbox .button-search {
  width: 20%;
  height: 60px;
  background-color: var(--dark-color);
  color: #fff;
  font-family: var(--ibm-mono);
  font-size: 18px;
  font-weight: 600;
  padding: 20px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  transition: all 0.2s ease-in-out;
}

#application .card-search .searchbox .button-search:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* Show section style */
#application #show-section {
  width: 83.33%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#application #show-section .card-show {
  width: 100%;
  height: auto;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 12px;
  overflow: hidden;
}







/* Nav and Tabs */
#application #show-section .card-show .nav-and-tabs {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 34px 40px;
  font-family: var(--ibm-mono);
}

/* Tab links */
#application #show-section .card-show .nav-and-tabs .tablinks {
  width: 440px;
  height: 80px;
  background-color: #ebebeb;
  font-family: var(--ibm-mono) !important;
  font-weight: 600;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

#application #show-section .card-show .nav-and-tabs .tablinks:hover {
  cursor: pointer;
  opacity: 0.9;
}

#application #show-section .card-show .nav-and-tabs button.active {
  background-color: var(--dark-color);
  color: #fff;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 1);
}

/* Tab Content */
#application #show-section .card-show .tabcontent {
  display: none;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 34px 40px;
  width: 100%;
  height: auto;
  /* background-color: coral; */
}

#application #show-section .card-show .tabcontent .card-data {
  width: 50%;
  height: auto;
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid #000;
}

#application #show-section .card-show .tabcontent .card-data .data-text {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#application #show-section .card-show .tabcontent .card-data .data-text .data-desc {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: lightblue; */
}

#application #show-section .card-show .tabcontent .card-data .data-text .data-desc h2 {
  font-size: 24px;
  margin-bottom: 1rem;
}

#application #show-section .card-show .tabcontent .card-data .data-text .data-desc .data-sub-desc {
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: center;
  margin-bottom: 20px;
}

#application #show-section .card-show .tabcontent .card-data .data-text .data-desc .data-sub-desc h4 {
  width: 30%;
}

#application #show-section .card-show .tabcontent .card-data .data-text .data-desc .data-sub-desc span {
  font-size: 18px;
  font-weight: 400;
}

#application #show-section .card-show .tabcontent .card-data .data-text .data-sub-button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 0.75rem;
  align-items: center;
  /* background-color: red; */
  font-family: var(--ibm-mono);
}

#application #show-section .card-show .tabcontent .card-data .data-text .data-sub-button [class^="button-"]:hover {
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#application #show-section .card-show .tabcontent .card-data .data-text .data-sub-button .button-edit {
  width: 80px;
  height: 32px;
  border: none;
  font-weight: 500;
  font-size: 12px;
  background-color: #000;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

#application #show-section .card-show .tabcontent .card-data .data-text .data-sub-button .button-delete {
  width: 80px;
  height: 32px;
  border: none;
  font-weight: 500;
  font-size: 12px;
  background-color: #FF6262;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

#application #show-section .card-show .tabcontent .card-data .data-text .data-sub-button .button-checker {
  width: 120px;
  height: 32px;
  border: none;
  font-weight: 500;
  font-size: 12px;
  background-color: #79E290;
  color: #000;
  transition: all 0.3s ease-in-out;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.mb-40 {
  margin-bottom: 40px;
}